.mainContainer{
    width: 72.5%;
    height: 85vh;
}

.flightInfoBanner{
    width: 100%;
    height: 80px;
    border: 1px solid;
    display: flex;
}

.cardContainer{
    width: 100%;
    height: 80%;
    padding-bottom: 15px;
    overflow: auto;
}

.flightInfoBanner_destination{
    width: 60%;
    height: 50px;
    margin-top: 1%;
    margin-left: 5%;
}

.flightInfoBanner_date{
    width: 20%;
    height: 50px;
    margin-top: 1%;
    margin-left: 10%;
    line-height: 40%;
    font-size: 14px;
}

.errorMsg{
    margin-left: 28%;
    color: red;
}